;/******************************************************************************
; *
; * Copyright (c) 2009 Nuvoton Tech. Corp.
; * All rights reserved.
; *
; * $Workfile: $
; *
; * $Author: $
; ******************************************************************************/




;;ROM_LOAD 0x900000
ROM_LOAD 0x700000
{
    ROM +0
    {
        wb_init.o (WB_INIT, +First)
        anon$$obj.o
        __main.o(!!!)
        * (+RO)
        * (+RW, +ZI) 
        
    }
    
    RAM 0x0
    {
        vectors.o(Vect, +First)  
    }
      
    
    HEAP 0x780000 UNINIT
    ;HEAP 0x1000000 UNINIT
    {
        heap.o (+ZI)
    }

	;STACK 0x1800000 UNINIT
	STACK 0x790000 UNINIT
	{
		stack.o (+ZI)
	}    
}
